# Notebook placeholder

Este notebook contiene la documentación y ejemplos.

# Notebook: Proyecto Integrador (ETL + DB)

Este notebook contiene instrucciones para ejecutar el pipeline ETL localmente, ejemplos de queries y visualizaciones. Se asume que ya se ejecuto `scripts/extract.py`, `scripts/transform.py` y `scripts/load.py`.

In [ ]:
import os
print('Working dir:', os.getcwd())
print('List data/staging:')
print(os.listdir(os.path.join('data','staging')) if os.path.exists(os.path.join('data','staging')) else 'staging folder missing')

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

DB_URI = os.getenv('DB_URI', 'postgresql://postgres:postgres@localhost:5432/ecommerce')
engine = create_engine(DB_URI)

# sample query: top 10 products by quantity
q = '''SELECT producto_id, sum(cantidad) as total_qty
FROM marts.fact_ventas
GROUP BY producto_id
ORDER BY total_qty DESC
LIMIT 10;'''
try:
    df = pd.read_sql(q, con=engine)
    display(df)
except Exception as e:
    print('Error querying DB:', e)

In [ ]:
import matplotlib.pyplot as plt

try:
    q = '''SELECT date_trunc('month', fecha_orden) as mes, sum(total_amount) as revenue
    FROM marts.fact_ventas
    GROUP BY 1
    ORDER BY 1;'''
    df = pd.read_sql(q, con=engine)
    df['mes'] = pd.to_datetime(df['mes'])
    df.plot(x='mes', y='revenue', kind='line')
    plt.title('Evolución mensual de ingreso bruto')
    plt.show()
except Exception as e:
    print('Plot error:', e)